html,
body {
  font-family: "SF Pro Text";
  overflow: hidden;
  background: #fdfdfd;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
}
* {
  font-family: "SF Pro Text";
  z-index: inherit;
}

html,
body,
/* body > div:first-child, */
div#__next,
div#__next > div
/* div#__next > div > div  */ {
  height: 100%;
  width: 100%;
}
.layout{
  width: 80vh;
}

@media sreen and (max-width: 768px) {
  .layout{
    width:100vh
  }
}
